<div class="container main">
  <h3>{{ title }}</h3>
  <p>{{ msg }}</p>
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        formControlName="email"
      />
      <small
        *ngIf="
          loginForm.controls['email'].dirty &&
          loginForm.controls['email'].errors?.email
        "
        id="emailHelp"
        class="form-text text-muted"
        style="color: red !important;"
      >
        Invalid Email Format
      </small>
      <small
        *ngIf="
          loginForm.controls['email'].dirty &&
          loginForm.controls['email'].errors?.required
        "
        id="emailHelp"
        class="form-text text-muted"
        style="color: red !important;"
      >
        Email cannot be blank
      </small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
      />
      <small
        *ngIf="
          loginForm.controls['password'].dirty &&
          loginForm.controls['password'].errors?.minlength
        "
        id="emailHelp"
        class="form-text text-muted"
        style="color: red !important;"
      >
        Password cannot be less than 6 Characters
      </small>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="loginForm.invalid"
      (click)="doLogin()"
    >
      Login
    </button>
  </form>
  <div class="bottom">
    <app-facebook-login></app-facebook-login>
    <app-google-login></app-google-login>
  </div>
</div>
