<div class="container">
  <form #regForm="ngForm" (ngSubmit)="save()">
    <div class="form-group">
      <label for="fulName">Full Name</label>
      <input
        type="text"
        required
        class="form-control"
        name="fullName"
        placeholder="Enter Full Name"
        [(ngModel)]="model.fullName"
      />
    </div>

    <div class="form-group">
      <label for="fulName">Email</label>
      <input
        required
        type="text"
        class="form-control"
        name="email"
        placeholder="Enter Email"
        [(ngModel)]="model.email"
      />
    </div>

    <div class="form-group">
      <label for="fulName">Password</label>
      <input
        required
        type="password"
        class="form-control"
        name="password"
        placeholder="Password"
        [(ngModel)]="model.password"
      />
    </div>

    <div class="form-group">
      <label for="fulName">Mobile No</label>
      <input
        required
        type="number"
        class="form-control"
        name="mobile"
        placeholder="MobileNo"
        [(ngModel)]="model.mobile"
      />
    </div>

    <div class="form-group">
      <label for="userType">User Type</label>
      <select
        class="form-control"
        name="userType"
        required
        [(ngModel)]="model.type"
      >
        <option *ngFor="let u of userType" [value]="u">{{ u }}</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Create Account</button>
  </form>
</div>

<p>
  {{ diagnostic }}
</p>
