<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Shopify</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <a class="nav-link" routerLink="seller"
        >Seller Dashboard <span class="sr-only"></span
      ></a>
      <li class="nav-item">
        <a class="nav-link" routerLink="profile"
          >My Profile <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="product">Products</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Mens</a>
          <a class="dropdown-item" href="#">Womens</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Kids & More</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div *ngIf="!isLoggedIn">
        <a routerLink="auth" class="btn btn-outline-primary">
          Login
        </a>
        <a routerLink="auth/signup" class="btn btn-outline-warning">
          SignUp
        </a>
      </div>
      <div *ngIf="isLoggedIn">
        <button (click)="doLogout()" class="btn btn-outline-primary">
          Logout
        </button>
      </div>
      <input
        class="form-control mr-sm-2"
        type="search"
        name="query"
        [(ngModel)]="query"
        placeholder="Search"
        aria-label="Search"
      />
    </form>
  </div>
</nav>
{{ query }}
