<div>
  <div
    class="card"
    style="width: 18rem; margin: 1em;"
    *ngFor="let p of products"
  >
    <!-- <img class="card-img-top" src="..." alt="Card image cap" /> -->
    <div class="card-body">
      <h5 class="card-title">{{ p.name }}</h5>
      <p class="card-text">{{ p.description }}</p>
      <p class="card-text" style="font-size: 20; font-weight: bold;">
        {{ p.rate }}
      </p>
      <button class="btn btn-primary" (click)="buttonClicked(p.id)">
        Add To Cart
      </button>
    </div>
  </div>
</div>
