<div class="product">
  <app-product-filter
    (onPriceFilter)="filterPrice($event)"
  ></app-product-filter>
  <app-product-list
    [products]="filteredProducts"
    [showOutOfStock]="true"
    (onAddToCart)="handleCartClicked($event)"
  ></app-product-list>
</div>
