<h4>Refine Search</h4>
<form [formGroup]="filterGrp">
  <ul class="list-group">
    <li class="list-group-item">By Categories</li>

    <li class="list-group-item">
      By Price
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">INR</span>
        </div>
        <input
          formControlName="price"
          type="number"
          class="form-control"
          placeholder="By Price"
          aria-label="rate"
          aria-describedby="basic-addon1"
          (blur)="onDoneEditing()"
        />
      </div>
    </li>

    <li class="list-group-item">By Size</li>
  </ul>
</form>
